there are two methods for handeling missing values



1.imputation















2.dropping

In [1]:
# importing the libaries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#loading the data sets 
df=pd.read_csv("/content/data (1).csv")

In [4]:
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [5]:
df.isnull().sum()

id                           0
diagnosis                    0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

IMPULATION PROCESS






#CENTRAL TENDENCIES:










1.MEAN





2.MEDIAN








3.MODE

In [11]:
#analyzing the distribution of the data in the mising value counts
#fig,ax=plt.subplots(figsize=(8,8))
#sns.displot(df. unnamed    )

In [12]:
#replacing the missing values with median value
#df[' unnamed   '].fillna(df[' unnamed   '].median(),inplace=True)
#now check wether there is any missing value

In [13]:
#replacing the missing values with mean value
#df[' unnamed   '].fillna(df[' unnamed   '].mean(),inplace=True)
#now check wether there is any missing value

In [14]:
#replacing the missing values with mode value
#df[' unnamed   '].fillna(df[' unnamed   '].mode(),inplace=True)
#now check wether there is any missing value

DROPPING PROCESS

In [21]:
data=pd.read_csv("/content/data (1).csv")

In [22]:
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [25]:
#drop the missing values
data=data.dropna(how='any')

In [27]:
data.isnull().sum()

id                         0
diagnosis                  0
radius_mean                0
texture_mean               0
perimeter_mean             0
area_mean                  0
smoothness_mean            0
compactness_mean           0
concavity_mean             0
concave points_mean        0
symmetry_mean              0
fractal_dimension_mean     0
radius_se                  0
texture_se                 0
perimeter_se               0
area_se                    0
smoothness_se              0
compactness_se             0
concavity_se               0
concave points_se          0
symmetry_se                0
fractal_dimension_se       0
radius_worst               0
texture_worst              0
perimeter_worst            0
area_worst                 0
smoothness_worst           0
compactness_worst          0
concavity_worst            0
concave points_worst       0
symmetry_worst             0
fractal_dimension_worst    0
Unnamed: 32                0
dtype: int64

IN THE CASE OF DATA SET I AM USING UP WE HAVE TO DROP WHOLE UNNAMED:32 COLUMN.THE PROCESS WE DID UP IS JUST A EXAMPLE OF HOW TO HANDEL MISSING DATA AND EXAMPLE HOW CAN WE HANDEL MISSING DATA BY DIFFERENT PROCESS